<h2 class="page-header">
  <%= link_to @venue.name, @venue %> 
</h2>

<% if user_signed_in? && @managerships.detect { |manager| manager.venue_id == @venue.id }%>
  <%= form_for [@venue, @venue_image], :html => {:multipart => true} do |f| %>
    <p>
      <label><%= t('new_image') %></label>
      <%= f.file_field :file %>
      <%= f.hidden_field :file_cache %>
      <%= f.text_field :remote_file_url %>
    </p>
    <%= f.submit "Uploader", class: "btn btn-primary" %>
  <% end %>
<% end %>


<% if @venue_images.any? %>
  <% @venue_images.each do |image| %>
    <%= link_to image_tag(image.file_url(:thumb)), venue_venue_image_path(@venue, image) if image.file? %>
  <% end %>
<% else %>
  <p><%= t('.no_images') %></p>
<% end %>
