<h2 class="page-header">
  <%= link_to @venue.name, venue_venue_images_path(@venue) %>

  <% if user_signed_in? && @venue.in_managerships?(@managerships) %>
    <%= link_to t('remove'), venue_venue_image_path(@venue, @venue_image), method: :delete, data: { confirm: t('are_u_sure') }, class: "btn btn-danger pull-right" %>
    <% unless @venue_image.is_main %>
      <%= link_to t('.set_as_main'), set_main_venue_venue_image_path(@venue, @venue_image), method: :put, class: "btn btn-success pull-right" %>
    <% else %>
      <small><i class="icon-check"></i> <%= t('.is_main') %></small>
    <% end %>
  <% end %>
</h2>

<p class="center thumbs-container">
  <%= image_tag(@venue_image.file_url(:normal)) if @venue_image.file? %>
</p>

<div class="thumbs-container">
  <%= link_to image_tag(@previous.file_url(:thumb)), venue_venue_image_path(@venue, @previous), class: "pull-left" if @previous %>
  <%= link_to image_tag(@next.file_url(:thumb)), venue_venue_image_path(@venue, @next), class: "pull-right" if @next %>
  <div class="clearfix"></div>
</div>

<%= render 'shared/sidebar' %>