<div id="feedback-comment-<%= feedback_comment.id %>">
  <div class="user-feedback-avatar comment pull-left">
    <% if feedback_comment.user.avatar? %>
      <%= image_tag feedback_comment.user.avatar_url(:thumb) %>
    <% else %>
      <%= image_tag "no-image.png" %>
    <% end %>
  </div>

  <p class="feedback-comment">
    <% if user_signed_in? && (current_user.id == feedback_comment.user_id || current_user.is_admin?) %>
      <%= link_to t('remove'), [feedback_comment.feedback.venue, feedback_comment.feedback, feedback_comment], method: :delete, remote: true, data: { confirm: t('are_u_sure') }, class: "btn btn-small btn-danger pull-right" %>
    <% end %>

    <%= raw feedback_comment.description.gsub("\r\n", "<br />") %>
  	<small><%= feedback_comment.user.first_name.capitalize + " " + feedback_comment.user.last_name.upcase  %></small>
  </p>
</div>