<%= error_messages_for(flash[:error]) %>
<hr class="feedback-comment-hr" />
<h6><%= t('.add_feedback_comments') %></h6>

<%= form_for [@venue, feedback, FeedbackComment.new], remote: false do |f| %>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, class: "span8", rows: "8" %>
  </p>

  <%= f.hidden_field :feedback_id, value: @feedback.id %>
  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>
<% end %>