<%= error_messages_for(flash[:error]) %>

<h6><%= t('.add_feedback_comments') %></h6>

<%= form_for [@feedback, @venue.feedback.feedback_comments.build], remote: false do |f| %>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, class: "span8", rows: "8" %>
  </p>
  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>
<% end %>