<%= error_messages_for(flash[:error]) %>

<h6><%= t('.add_feedback') %></h6>

<%= form_for [@venue, @venue.feedbacks.build], remote: true do |f| %>
  <p>
    <%= f.label :rating %>
    <%= f.select :rating, (0..5).to_a, :prompt => t('.rate_the_venue') %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, class: "span8", rows: "8" %>
  </p>
  <p>
    <%= f.submit class: "btn btn-primary" %>
  </p>
<% end %>