<% if user_signed_in? %>
  <p><strong><%= current_user.name %></strong></p>
  
  <% if @current_user_roles.any? %>
  <p>
    <%= t('.your_access') %> : <br />
    <ul>
      <% @current_user_roles.each do |role| %>
        <li><%= t(role) %></li>
      <% end %>
    </ul>
  </p>
  <% end %>
  <hr />
<% end %>

<%= render "shared/geolocation_form" %>

<%= render 'shared/sidebar' %>
