<%= render "shared/geolocation_form" %>

<% if @venues.any? %>
  <table class="table table-bordered table-striped">

  <% @venues.each do |venue| %>
    <tr>
      <td class="element-cell">
        <%= link_to t('.see_venue_page'), venue, class: "btn btn-small btn-info pull-right" %>

        <% if venue.main_image && venue.main_image.file? %>
          <%= link_to (image_tag venue.main_image.file_url(:thumb), class: "pull-left"), venue %>
        <% else %>
          <%= link_to (image_tag "no-image.png", class: "pull-left"), venue %>
        <% end %>
        
        <h4><%= link_to venue.name, venue %></h4>
        <p>
          <%= venue.address_1 %><br />
          <%= venue.city %>, <%= Carmen::Country.coded(venue.country).name %>
        </p>
        <p>Distance : <strong><%= distance_display(venue) %></strong></p>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <div class="alert alert-info"><%= t('no_result') %></div>
<% end %>

<%= render 'shared/sidebar' %>