<%= render "shared/geolocation_form" %>

<hr />

<% if @venues && @venues.any? %>
  <h2><%= t('.closest_venues_button') %></h2>
  <table class="table table-bordered table-striped">

  <% @venues.each do |venue| %>
    <tr>
      <td class="element-cell">
        <%= link_to t('.see_venue_page'), venue, class: "btn btn-small btn-info pull-right" %>

        <% if venue.main_image && venue.main_image.file? %>
          <%= link_to (image_tag venue.main_image.file_url(:thumb), class: "pull-left"), venue %>
        <% else %>
          <%= link_to (image_tag "no-image.png", class: "pull-left"), venue %>
        <% end %>
        
        <h4><%= link_to venue.name, venue %></h4>
        <p>
          <%= venue.address_1 %><br />
          <%= venue.city %>, <%= Carmen::Country.coded(venue.country).name %>
        </p>
        <p>Distance : <strong><%= distance_display(venue) %></strong></p>
      </td>
    </tr>
  <% end %>
  </table>
<% elsif @gigs && @gigs.any? %>
  <h2><%= t('.closest_gigs_button') %></h2>
  <table class="table table-bordered table-striped">

  <% @gigs.each do |gig| %>
    <tr>
      <td class="element-cell">
        <%= link_to t('.see_gig_page'), gig, class: "btn btn-small btn-info pull-right" %>
        
        <% if gig.poster? %>
          <%= link_to (image_tag gig.poster_url(:thumb), class: "poster-gig pull-left"), gig %>
        <% else %>
          <%= link_to (image_tag "no-image.png", class: "poster-gig pull-left"), gig %>
        <% end %>

        <h4><%= link_to gig.name, gig %> <small><%= gig.main_act.band.name if gig.main_act %></small></h4>
        <p>
          <% unless gig.description.blank? %>
            <%= truncate(gig.description, :length => 200, :separator => ' ') %>
          <% else %>
            <em><%= t('no_description') %></em>
          <% end %>
        </p>
        <p>
          <%= Venue.model_name.human %> : 
          <% unless gig.venue.blank? %>        
            <strong><%= gig.venue.name %></strong>
          <% else %>
            <em><%= t('not_specified') %></em>
          <% end %>
          <br />
          <br />
          <%= Gig.human_attribute_name(:doors_time) %> : <strong><%= l(gig.doors_time, format: :humanize) %></strong><br />
          <%= Gig.human_attribute_name(:concert_start_time) %> : <strong><%= l(gig.concert_start_time, format: :humanize) %></strong>
        </p>
        <p>Distance : <strong><%= distance_display(@venues_nearby.detect { |venue| venue.id == gig.venue_id }) %></strong></p>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <div class="alert alert-info"><%= t('no_result') %></div>
<% end %>

<%= render 'shared/sidebar' %>