<h1><%= t('.title') %></h1>

<table>
  <tr>
    <th><%= sortable t('.name') %></th>
    <th><%= sortable t('.address_1') %></th>
    <th><%= sortable t('.address_2') %></th>
    <th><%= sortable t('.postal_code') %></th>
    <th><%= sortable t('.city') %></th>
    <th><%= sortable t('.country') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= venue.address_1 %></td>
    <td><%= venue.address_2 %></td>
    <td><%= venue.postal_code %></td>
    <td><%= venue.city %></td>
    <td><%= venue.country %></td>
    <td><%= link_to t('.show'), venue, class: "btn btn-small btn-info pull-right", style: "margin-right: 7px;" %></td>
    <td><%= link_to t('edit'), edit_venue_path(venue), class: "btn btn-small btn-success pull-right", style: "margin-right: 7px;" %></td>
    <td><%= link_to t('remove'), venue, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger pull-right" %></td>
  </tr>
<% end %>
</table>
<% if @venues.empty? %>
  <em>No venues found</em>
<% end %>

<br />

<%= link_to t('.new_venue'), new_venue_path %>

<%= render 'sidebar' %>