<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @venue.name %>
</p>

<p>
  <strong><%= Venue.human_attribute_name(:address_1) %> :</strong>
  <%= @venue.address_1 %>
</p>

<p>
  <strong><%= Venue.human_attribute_name(:address_2) %> :</strong>
  <%= @venue.address_2 %>
</p>

<p>
  <strong><%= Venue.human_attribute_name(:postal_code) %> :</strong>
  <%= @venue.postal_code %>
</p>

<p>
  <strong><%= Venue.human_attribute_name(:city) %> :</strong>
  <%= @venue.city %>
</p>

<p>
  <strong><%= Venue.human_attribute_name(:country) %> :</strong>
  <%= Carmen::Country.coded(@venue.country).name %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>

<%= render 'sidebar' %>