<p id="notice"><%= notice %></p>
<h2 class="page-header"><%= @venue.name %> <%= link_to t('.edit_venue'), edit_venue_path(@venue), class: "btn btn-success pull-right" %></h2>

<p>
  <%= @venue.address_1 %><br />
  
  <% unless @venue.address_2.blank? %>        
    <%= @venue.address_2 %><br />
  <% else %>
    <em><%= %></em>
  <% end %>
  
  <%= @venue.postal_code %> <%= @venue.city %><br />

  <%= Carmen::Country.coded(@venue.country).name %>
</p>

<br />

<p>
  <strong><%= Venue.human_attribute_name(:telephone) %> :</strong>  
  <% unless @venue.telephone.blank? %>        
    <%= @venue.telephone %>
  <% else %>
    <em><%= t('no_result') %></em>
  <% end %>
</p>

<p>
  <strong><%= Venue.human_attribute_name(:email_address) %> :</strong>  
  <% unless @venue.email_address.blank? %>        
    <%= @venue.email_address %>
  <% else %>
    <em><%= t('no_result') %></em>
  <% end %>
</p>

<p>
  <strong><%= Venue.human_attribute_name(:website) %> :</strong>  
  <% unless @venue.website.blank? %>        
    <%= @venue.website %>
  <% else %>
    <em><%= t('no_result') %></em>
  <% end %>
</p>


<h4><%= t('.nearby_venues') %></h4>
<ul>
  <% for location in @nearby_venues %>
  <li><%= link_to location.address, location %> (<%= distance_display(location) %>)</li>
<% end %>
</ul>

<%= render 'sidebar' %>

