<%= stylesheet_link_tag 'gmaps4rails' %>

<h2 class="page-header">
  <%= @venue.name %> 
  
  <% if user_signed_in? && @managerships.detect { |manager| manager.venue_id == @venue.id }%>
    <%= link_to t('remove'), @venue, method: :delete, data: { confirm: t('are_u_sure') }, class: "btn btn-danger pull-right" %>
    <%= link_to t('.edit_venue'), edit_venue_path(@venue), class: "btn btn-success pull-right" %>
  <% end %>
</h2>

<%= gmaps("map_options" => { "detect_location" => false, "center_on_user" => false, "zoom" => 16},"markers" => { "data" => @gmap_full_venues }) %>

<p>
  <%= @venue.address_1 %><br />
  
  <% unless @venue.address_2.blank? %>        
    <%= @venue.address_2 %><br />
  <% end %>
  
  <%= @venue.postal_code %> <%= @venue.city %><br />

  <%= Carmen::Country.coded(@venue.country).name %>
</p>

<p>
  <strong><%= Venue.human_attribute_name(:telephone) %> :</strong>  
  <% unless @venue.telephone.blank? %>        
    <%= @venue.telephone %>
  <% else %>
    <em><%= t('not_specified') %></em>
  <% end %>
</p>

<p>
  <strong><%= Venue.human_attribute_name(:email_address) %> :</strong>  
  <% unless @venue.email_address.blank? %>        
    <%= @venue.email_address %>
  <% else %>
    <em><%= t('not_specified') %></em>
  <% end %>
</p>

<p>
  <strong><%= Venue.human_attribute_name(:website) %> :</strong>  
  <% unless @venue.website.blank? %>        
    <%= @venue.website %>
  <% else %>
    <em><%= t('not_specified') %></em>
  <% end %>
</p>

<h4><%= t('.nearby_venues') %></h4>

<% unless @nearby_venues.empty? %>
  <ul>
    <% for location in @nearby_venues %>
      <li><%= link_to location.name + " (" + location.address + ")", location %> (<%= distance_display(location) %>)</li>
    <% end %>
  </ul>
<% else %>
  <%= t('.no_nearby_venues') %>
<% end %>

<hr />

<% if @venue_images.any? %>
  <% @venue_images.each do |image| %>
    <%= image_tag(image.file_url(:thumb)) if image.file? %>
  <% end %>
<% else %>
  <p><%= t('.no_images') %></p>
<% end %>

<% if user_signed_in? && @managerships.detect { |manager| manager.venue_id == @venue.id }%>
  <%= link_to "Uploader des images", venue_venue_images_path(@venue), class: "btn btn-primary pull-right" %>
<% end %>

<%= render 'sidebar' %>
