<table class="table table-bordered table-striped">
  <tr>
    <% ("a".."z").to_a.each do |letter| %>
      <td class="center"><%= link_to letter.upcase, bands_path(:by_letter => letter) %></td>
    <% end %>
  </tr>
</table>

<%= link_to 'Créer un groupe', new_band_path, class: "btn btn-primary pull-right" %>

<% if params[:by_letter] %>
  <h2>Groupes commençant par la lettre <%= params[:by_letter].upcase %></h2>
<% else %>
  <h2>Les 10 derniers groupes</h2>
<% end %>

<% if @bands.any? %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Groupe</th>
    </tr>

  <% @bands.each do |band| %>
    <tr>
      <td>
        <h4><%= link_to band.name, band %></h4>
        <%= band.creation_year %><br />
        <%= band.city %><br />
        <% unless band.description.blank? %>
          <%= band.description %>
        <% else %>
          <em>Aucune description</em>
        <% end %><br />
        <%= link_to 'Supprimer', band, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-danger pull-right" %>
        <%= link_to 'Modifier', edit_band_path(band), class: "btn btn-small btn-success pull-right", style: "margin-right: 7px;" %>
        <%= link_to 'Voir la fiche groupe', band, class: "btn btn-small btn-info pull-right", style: "margin-right: 7px;" %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <div class="alert alert-info">Aucun résultat</div>
<% end %>

<%= render 'sidebar' %>