<h2 class="page-header">
  <%= @band.name %> 

  <% unless !user_signed_in? || @user_bands.include?(@band.id) %>
    <%= link_to t('.join_band'), request_participation_band_path(@band), method: :put, class: "btn btn-inverse pull-right", style: "margin-left: 7px;" %>
  <% else %>
    <%= link_to t('.edit_band'), edit_band_path(@band), class: "btn btn-success pull-right" %>
  <% end %>
</h2>

<p>
  <%= t('.created_in') %> <strong><%= @band.creation_year %></strong><br />
  <%= t('.from') %> <strong><%= @band.city %></strong>
</p>
<p>
  <% unless @band.description.blank? %>
    <%= @band.description %>
  <% else %>
    <em><%= t('no_description') %></em>
  <% end %>
</p>

<%= render 'sidebar' %>