<h2 class="page-header">
  <%= @band.name %> 

  <% if user_signed_in? %>
    <% if @user_bands.collect { |part| part[:band_id] }.include? @band.id %>
      <% if @user_bands.detect { |part| part[:band_id] == @band.id && part[:admin] == true } %>
        <%= link_to t('remove'), @band, method: :delete, data: { confirm: t('are_u_sure') }, class: "btn btn-danger pull-right" %>
        <%= link_to t('.edit_band'), edit_band_path(@band), class: "btn btn-success pull-right" %>
      <% end %>
    <% else %>
      <%= link_to t('.join_band'), request_participation_band_path(@band), method: :put, class: "btn btn-inverse pull-right" %>
    <% end %>
  <% end %>
</h2>

<p>
  <% if @main_image && @main_image.file? %>
    <%= link_to band_band_image_path(@band, @main_image) do %>
      <img src="<%= @main_image.file_url(:header) %>" />
    <% end %>
  <% end %>
</p>

<p>
  <%= t('.created_in') %> <strong><%= @band.creation_year %></strong><br />
  <%= t('.from') %> <strong><%= @band.city %></strong>
</p>
<p>
  <% unless @band.description.blank? %>
    <%= raw @band.description.gsub("\r\n", "<br />") %>
  <% else %>
    <em><%= t('no_description') %></em>
  <% end %>
</p>

<hr />

<h4><%= t('.pictures') %> <small>(<%= @nb_images %>)</small></h4>

<% if @band_images.any? %>
  <p class="thumbs-container">
    <% @band_images.each do |image| %>
      <% if image.file? %>
        <%= link_to image_tag(image.file_url(:thumb)), band_band_image_path(@band, image) %>
      <% end %>
    <% end %>
  <p>
  <em><%= link_to t('.all_images'), band_band_images_path(@band), class: "pull-right" %></em>
  <div class="clearfix"></div>
<% else %>
  <div class="alert">
    <%= t('.no_pictures') %>
  </div>
  <% if user_signed_in? && @user_bands.collect { |part| part[:band_id] }.include?(@band.id) %>
    <%= link_to t('.upload_images'), band_band_images_path(@band), class: "btn btn-primary pull-right" %>
    <div class="clearfix"></div>
  <% end %>
<% end %>

<hr />

<% if @gigs.any? %>
  <h3>
    <%= t('.gigs') %>

    <% if user_signed_in? && @user_bands.collect { |part| part[:band_id] }.include?(@band.id) %>
      <%= link_to t('.add_gig'), new_gig_path(:band_id => @band.id), class: "btn btn-small pull-right" %>
    <% end %>
  </h3>
  <p class="thumbs-container">
    <% @gigs.each do |gig| %>
      <%= link_to gig do %>
        <% if gig.poster? %>
          <%= image_tag gig.poster_url(:thumb) %>
        <% else %>
          <%= image_tag "no-image.png" %>
        <% end %>
        <span class="thumb-label thumb-gig"><%= gig.name %></span>
      <% end %>
    <% end %>
  </p>
<% end %>

<%= render 'shared/sidebar' %>