<h2 class="page-header"><%= @band.name %> <%= link_to 'Modifier Groupe', edit_band_path(@band), class: "btn btn-success pull-right" %></h2>

<p>
  <%= t('.created_in') %> <strong><%= @band.creation_year %></strong><br />
  <%= t('.from') %> <strong><%= @band.city %></strong>
</p>
<p>
  <% unless @band.description.blank? %>
    <%= @band.description %>
  <% else %>
    <em>Aucune description</em>
  <% end %>
</p>

<%= render 'sidebar' %>