<p>
  <%= feedback.user.first_name.capitalize + " " + feedback.user.last_name.upcase + " " + t('.gives_a_rating') + " " + feedback.rating.to_s + " " + t('.out_of_five') %>.
</p>
<p>
  <strong><%= Feedback.model_name.human %> :</strong><br />
  <%= raw feedback.description.gsub("\r\n", "<br />") %>

  <% if current_user.id == feedback.user_id || current_user.roles_list.include?(User::ADMIN) %>
  	<%= link_to t('remove'), [feedback.venue, feedback], method: :delete, data: { confirm: t('are_u_sure') }, class: "btn btn-small btn-danger pull-right" %>
  <% end %>
</p>

<h4><%= t('.user_feedback_comments') %></h4>
<div id='feedback_comments'>
  <% unless @feedback.feedback_comments.empty? %>
    <%= render @feedback.feedback_comments %>
  <% else %>
    <div class="alert">
      <%= t('.no_feedback_comments') %>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <div id='feedback_comment_form'>
    <%= render "feedback_comments/form" %>
  </div>
<% end %>

<hr />
