<div id="feedback-<%= feedback.id %>">
  <div class="user-feedback-avatar pull-left">
    <% if feedback.user.avatar? %>
      <%= image_tag feedback.user.avatar_url(:thumb) %>
    <% else %>
      <%= image_tag "no-image.png" %>
    <% end %>
  </div>

  <div class="feedback">
    <p class="feedback-user">
      <strong><%= feedback.user.name %></strong> <small><em><%= l(feedback.created_at, format: :humanize) %></em></small>
    </p>
    <p class="description">
      <%= raw feedback.description.gsub("\r\n", "<br />") %>
    </p>
    <p class="rate">
      <strong>Note:</strong> <%= "#{feedback.rating.to_s}/5" %>
      <% if user_signed_in? && (current_user.id == feedback.user_id || current_user.is_admin?) %>
      	<%= link_to t('remove'), [feedback.venue, feedback], method: :delete, remote: true, data: { confirm: t('are_u_sure') }, class: "btn btn-small btn-danger pull-right" %>
      <% end %>
    </p>
  </div>

  <blockquote>
    <div class='feedback_comments'>
      <% unless feedback.feedback_comments.empty? %>
        <%= render feedback.feedback_comments %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class='feedback_comment_form'>
        <%= render partial: "feedback_comments/form", locals: { feedback: feedback } %>
      </div>
    <% end %>
  </blockquote>
</div>
