<p><%= t('hello') %> <%= @resource.email %>!</p>

<p><%= t('.change_your_pwd_request') %></p>

<p><%= link_to t('.change_my_pwd'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('.no_request') %></p>
<p><%= t('.no_change_until_access') %></p>
