<%= form_for @gig, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: "span8", rows: "8" %>
  </div> 
  <div class="field">
    <%= f.label Venue.model_name.human %>
    <%= f.collection_select :venue_id, @venues, :id, :name, :prompt => t('.prompt_venue') %>
  </div>
  <div class="field">
    <%= f.label :poster %>
    <%= f.file_field :poster %>
    <%= f.hidden_field :poster_cache %>
    <% if @gig.poster? && @gig.persisted? %>
      <br />
      <p>
        <%= image_tag @gig.poster_url(:thumb) %>
        <%= link_to remove_poster_gig_path(@gig), method: :put, class: "btn btn-delete-entity" do %>
          <i class="icon-remove"></i>
        <% end %>
      </p>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :soundcheck_time %>
    <%= f.text_field :soundcheck_time, :id => 'soundcheck_time' %>
  </div>
  <div class="field">
    <%= f.label :doors_time %>
    <%= f.text_field :doors_time, :id => 'doors_time' %> 
  </div>
  <div class="field">
    <%= f.label :concert_start_time %>
    <%= f.text_field :concert_start_time, :id => 'concert_start_time' %>
  </div>
  <div class="field">
    <%= f.label :concert_end_time %>
    <%= f.text_field :concert_end_time, :id => 'concert_end_time' %>
  </div>
  <div class="field">
    <%= f.fields_for :main_act, @main_act do |main_act_field| %>
      <%= main_act_field.label :band_id, Gig.human_attribute_name(:main_act) %>
      <%= main_act_field.collection_select :band_id, @bands, :id, :name, :prompt => t('.prompt_band') %>
      <%= main_act_field.hidden_field :is_main_act, :value => true %>
      <% if main_act_field.object.persisted? %>
        <%= main_act_field.hidden_field :_destroy, :class => "destroy-entity" %>
        <button type="button" data-toggle="button" class="btn btn-delete-entity <%= 'active' if main_act_field.object._destroy %>">
          <i class="icon-remove"></i>
        </button>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.fields_for :supporting_acts, @supporting_acts do |supporting_act_field| %>
    <div>
      <%= supporting_act_field.label :band_id, Gig.human_attribute_name(:supporting_act) %>
      <%= supporting_act_field.collection_select :band_id, Band.find(:all), :id, :name, :prompt => t('.prompt_band') %>
      <%= supporting_act_field.hidden_field :is_main_act, :value => false %>
      <% if supporting_act_field.object.persisted? %>
        <%= supporting_act_field.hidden_field :_destroy, :class => "destroy-entity" %>
        <button type="button" data-toggle="button" class="btn btn-delete-entity <%= 'active' if supporting_act_field.object._destroy %>">
          <i class="icon-remove"></i>
        </button>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
<%= content_for :scripts do %>
  <script type="text/javascript"> 
    $(document).ready(function() { 
      $("#soundcheck_time").datetimepicker({
        controlType: 'select',
        stepMinute: 5,
        timeFormat: 'hh:mm:ss',
        dateFormat: 'yy-mm-dd'
      }); 
      $("#doors_time").datetimepicker({
        controlType: 'select',
        stepMinute: 5,
        timeFormat: 'hh:mm:ss',
        dateFormat: 'yy-mm-dd'
      }
        ); 
      $("#concert_start_time").datetimepicker({
        controlType: 'select',
        stepMinute: 5,
        timeFormat: 'hh:mm:ss',
        dateFormat: 'yy-mm-dd'
      }); 
      $("#concert_end_time").datetimepicker({
        controlType: 'select',
        stepMinute: 5,
        timeFormat: 'hh:mm:ss',
        dateFormat: 'yy-mm-dd'
      }
        ); 
      $('#ui-datepicker-div').removeClass('ui-helper-hidden-accessible');
    });
  </script>
<% end %>