<%= form_for(@gig) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div> 
  <div class="field">
    <%= f.label Venue.model_name.human %>
    <%= f.collection_select :venue_id, Venue.find(:all), :id, :name, :prompt => "Select a Venue" %>
  </div>
  <div class="field">
    <%= f.label :soundcheck_time %>
    <%= f.datetime_select :soundcheck_time %>
  </div>
  <div class="field">
    <%= f.label :doors_time %>
    <%= f.datetime_select :doors_time %>
  </div>
  <div class="field">
    <%= f.label :concert_start_time %>
    <%= f.datetime_select :concert_start_time %>
  </div>
  <div class="field">
    <%= f.label :concert_end_time %>
    <%= f.datetime_select :concert_end_time %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
