<h2 class="page-header">
  <%= @gig.name %>
  <% if user_signed_in? && @gig.venue.in_managerships?(@managerships) || (@main_act && @main_act.band.in_band_participations?(@band_participations)) %>
    <%= link_to t('remove'), @gig, method: :delete, data: { confirm: t('are_u_sure') }, class: "btn btn-danger pull-right" %>
    <%= link_to t('.edit_gig'), edit_gig_path(@gig), class: "btn btn-success pull-right" %>
  <% end %>
</h2>

<div class="row-fluid">
  <div class="span8">
    <div class="well-white">
      <p>
        <b><%= "Salle" %>:</b>
        <% unless @gig.venue.blank? %>
          <%= link_to @gig.venue.name, venue_path(@gig.venue), class: "text-info" %><br />
        <% else %>
          <em><%= t('not_specified') %></em>
        <% end %>
      </p>

      <p>
        <%= @gig.description %>
      </p>

      <% if @gig.soundcheck_time %>
      <p>
        <b><%= "Balances" %>:</b>
        <%= l(@gig.soundcheck_time, format: :humanize) %>
      </p>
      <% end %>

      <p>
        <b><%= "Ouverture des portes" %>:</b>
        <%= l(@gig.doors_time, format: :humanize) %>
      </p>

      <p>
        <b><%= "Début" %>:</b>
        <%= l(@gig.concert_start_time, format: :humanize) %>
      </p>

      <% if @gig.concert_end_time %>
      <p>
        <b><%= "Fin" %>:</b>
        <%= l(@gig.concert_end_time, format: :humanize) %>
      </p>
      <% end %>

      <%= link_to t('.venue_gigs'), gigs_venue_path(@gig.venue), class: "btn btn-small" %>
    </div>

    <div class="small-map">
      <% if @gmap_venue %>
        <%= gmaps("map_options" => { "detect_location" => false, "center_on_user" => false, "auto_zoom" => false, "zoom" => 12}, "markers" => { "data" => @gmap_venue }) %>
      <% end %>
    </div>
  </div>

  <% if @gig.poster? %>
    <%= link_to image_tag(@gig.poster_url(:page)), poster_gig_path(@gig), class: "span4" %>
  <% end %>
</div>

<div class="clearfix"></div>

<% if @main_act || @supporting_acts.any? %>
  <h3><%= t('.main_act_and_supporting_acts') %></h3>

  <p class="thumbs-container thumbs-band">
    <% if @main_act %>
      <%= link_to @main_act.band, title: Gig.human_attribute_name("main_act") do %>
        <% if @main_act.band.main_image && @main_act.band.main_image.file? %>
          <%= image_tag @main_act.band.main_image.file_url(:thumb) %>
        <% else %>
          <%= image_tag "no-image.png" %>
        <% end %>
        <span class="thumb-label main-act"><%= @main_act.band.name %></span>
      <% end %>
    <% end %>

    <% if @supporting_acts.any? %>
      <% @supporting_acts.each do |act| %>
        <%= link_to act.band, title: Gig.human_attribute_name("supporting_act") do %>
          <% if act.band.main_image && act.band.main_image.file? %>
            <%= image_tag act.band.main_image.file_url(:thumb) %>
          <% else %>
            <%= image_tag "no-image.png" %>
          <% end %>
          <span class="thumb-label supporting-act"><%= act.band.name %></span>
        <% end %>
      <% end %>
    <% end %>
  </p>
<% end %>

<%= render 'shared/sidebar' %>