<h2 class="page-header"><%= @gig.name %> <%= link_to t('.edit_gig'), edit_gig_path(@gig), class: "btn btn-success pull-right" %></h2>


<p>
  <b><%= t('.gig_name')%>:</b>
  <%= @gig.name %>
</p>

<p>
  <b>Description:</b>
  <%= @gig.description %>
</p>

<p>
  <b><%= t('.soundcheck_time')%>:</b>
  <%= @gig.soundcheck_time %>
</p>

<p>
  <b><%= t('.doors_time')%>:</b>
  <%= @gig.doors_time %>
</p>

<p>
  <b><%= t('.concert_start_time')%>:</b>
  <%= @gig.concert_start_time %>
</p>

<p>
  <b><%= t('.concert_end_time')%>:</b>
  <%= @gig.concert_end_time %>
</p>

<%= render 'sidebar' %>